<nav class= data-topbar role="navigation">
    <div class="row">
    <div class="logo">
        <%= image_tag("Juno-title.png") %>
    </div>

    </div>
    <p class="top-bar">Work Happy, Live Happy</p>
</nav>


</div>
<div class="row">
    <form>
      <div class="row">
        <div class="large-6 columns">
            <p>Hey hey, here are your companies in <span class="place">NEW YORK, NY<i class="fa fa-caret-right"></i></span></p>
        </div>
        <div class="large-6 columns">
            <label for="search" class="filter-by">
                <i class="fa fa-search"></i>
            </label>
            <input id="search" placeholder="Search" class="input-lg" tabindex="1">

        </div>
      </div>
    </form>
</div>
<div class="category">
    <div class="row">
        <div class="large-2 columns">
            <p>scrappy<br/>startup</p>
        </div>
        <div class="large-2 columns demo">
            <p>corporate<br/>ladder</p>
        </div>
        <div class="large-2 columns">
            <p>flying<br/>solo</p>
        </div>
        <div class="large-2 columns">
            <p>training<br/>sandbox</p>
        </div>
        <div class="large-2 columns">
            <p>mobile<br/>maven</p>
        </div>
    </div>
</div>

<div class="companies">
<%= react_component('MainComponent') %>
</div>

<footer class="footer">
    <div class="row">
    Built at the <a href="http://www.iwmf.org/our-impact/cracking-the-code/hackathon/">IWMF Cracking the Code Hackathon</a> by
    <a href="https://twitter.com/annabelchurch">@annabelchurch</a>
    <a href="https://twitter.com/marysaints">@marysaints</a>
    <a href="https://twitter.com/yvonneleow">@yvonneleow</a>
    <a href="https://twitter.com/nuncaduermo">@nuncaduermo</a>
    <a href="https://twitter.com/luinteljaya">@luinteljaya</a>
    <a href="https://twitter.com/connormcewen">@connormcewen</a>. </br> Check out <a href="https://github.com/arc64/diversify">the project</a>
    </div>
</footer>

