<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">My Site</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section>
</nav>
<div class="row">
    <div class="large-4 columns">
        <img src="http://placehold.it/400x300&amp;text=[img]">
        <h4>Great Company</h4>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    <div class="large-4 columns">
        <img src="http://placehold.it/400x300&amp;text=[img]">
        <h4>Great Company</h4>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    <div class="large-4 columns">
        <img src="http://placehold.it/400x300&amp;text=[img]">
        <h4>Fabulous place</h4>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
</div>


<footer>
    Built at the <a href="http://www.iwmf.org/our-impact/cracking-the-code/hackathon/">IWMF Cracking the Code Hackathon</a> by
    <a href="https://twitter.com/annabelchurch">@annabelchurch</a>
    <a href="https://twitter.com/marysaints">@marysaints</a>
    <a href="https://twitter.com/yvonneleow">@yvonneleow</a>
    <a href="https://twitter.com/nuncaduermo">@nuncaduermo</a>
    <a href="https://twitter.com/luinteljaya">@luinteljaya</a>
    <a href="https://twitter.com/connormcewen">@connormcewen</a>. Check out <a href="https://github.com/arc64/diversify">the project</a>
</footer>
