<nav class= data-topbar role="navigation">
    <div class="row">
    <%= image_tag("Juno-title.png") %>


    </div>
    <p class="top-bar">Work Happy, Live Happy</p>
</nav>

<form>
  <div class="row">
    <div class="large-6 columns">
      <label>Input Label
        <input class="search" type="text" placeholder="Company, culture search" />
      </label>
    </div>
  </div>
</form>


<%= react_component('MainComponent') %>
<footer>
    Built at the <a href="http://www.iwmf.org/our-impact/cracking-the-code/hackathon/">IWMF Cracking the Code Hackathon</a> by
    <a href="https://twitter.com/annabelchurch">@annabelchurch</a>
    <a href="https://twitter.com/marysaints">@marysaints</a>
    <a href="https://twitter.com/yvonneleow">@yvonneleow</a>
    <a href="https://twitter.com/nuncaduermo">@nuncaduermo</a>
    <a href="https://twitter.com/luinteljaya">@luinteljaya</a>
    <a href="https://twitter.com/connormcewen">@connormcewen</a>. Check out <a href="https://github.com/arc64/diversify">the project</a>
</footer>
